header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

body > .container {
  margin-top: 50px;
  background-color: #fff;
  min-height: 100%;
}

.title {
	border-top: #000 solid 1px;
  background-color: #eee;
}

.published {
		color: #666;
}

.feed-title {

}

.current {
   margin-bottom: 50px;
}

.current .expanded {
		display: block;
}

.current .collapsed {
		display: none;
}

.not-current .expanded {
		display: none;
}

.not-current .collapsed {
		display: block;
}

#unread-counter {
  position: fixed;
	bottom: 0px;
	right: 0px;
  background-color: #fff;
	padding: 1em;
	font-size: 1.5em;
	border: #ccc solid 1px;
}
