Django==2.2.5

pytz==2019.2

httplib2==0.14.0
feedparser==5.2.1
Markdown==3.0.1 # pyup: <3.1

psycopg2-binary==2.8.3
versiontools==1.9.1
pep8==1.7.1
mccabe==0.6.1

pyflakes==2.1.1
pycodestyle==2.5.0

enum34==1.1.6
configparser==4.0.2
flake8==3.7.8

cssselect==1.1.0
lxml==4.4.1
sure==1.4.11

rdflib==4.2.2

coverage==4.5.4

requests==2.22.0

logilab-common==1.4.3
logilab-astng==0.24.3
pylint==2.3.1
six==1.12.0
opml==0.5

Pillow==6.1.0

pytz==2019.2

python-dateutil==2.8.0
anyjson==0.3.3
billiard==3.6.1.0

vine==1.3.0
amqp==2.5.1

amqplib==1.0.2

kombu==4.6.4
pyparsing==2.4.2

celery==4.3.0
statsd==3.3.0
gunicorn==19.9.0
pycryptodome==3.9.0
ecdsa==0.13.2
sqlparse==0.3.0

astroid==2.2.5

html2text==2019.9.26

boto==2.49.0
raven==6.10.0
SPARQLWrapper==1.8.4
argparse==1.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
certifi==2019.9.11

decorator==4.4.0

colorama==0.4.1

funcsigs==1.0.2
html5lib==1.0.1
ipython-genutils==0.2.0
isodate==0.6.0
keepalive==0.5

mock==3.0.5

lazy-object-proxy==1.4.2

nose==1.3.7

pbr==5.4.3

path.py==12.0.1

pickleshare==0.7.5
ptyprocess==0.6.0
rcssmin==1.0.6
rjsmin==1.0.12
simplegeneric==0.8.1
singledispatch==3.4.0.3
traitlets==4.3.2
wrapt==1.11.2

django-appconf==1.0.3
django-compressor==2.3
django-bootstrap3==11.1.0
django-bootstrap-form==3.4
django-debug-toolbar==1.11
django-waffle==0.17.0
django-jenkins==0.110.0
django-smoketest==1.1.0

django-guardian==2.1.0

easy-thumbnails==2.6

django-userena==2.0.1
django-picklefield==2.0
django-statsd-mozilla==0.4.0

django-markwhat==1.6.2

django-storages==1.7.2

django-cacheds3storage==0.2.1

thraxilsettings==3.1.1
