Django==3.0.8

pytz==2020.1

httplib2==0.18.1
feedparser==5.2.1
Markdown==3.0.1 # pyup: <3.1

psycopg2-binary==2.8.5
versiontools==1.9.1
pep8==1.7.1
mccabe==0.6.1

pyflakes==2.2.0
pycodestyle==2.6.0

enum34==1.1.10
configparser==5.0.0
flake8==3.8.3

cssselect==1.1.0
lxml==4.5.2
sure==1.4.11

rdflib==5.0.0

coverage==5.2.1

requests==2.24.0

logilab-common==1.7.2

pylint==2.5.3
six==1.15.0
opml==0.5

Pillow==7.2.0

pytz==2020.1

python-dateutil==2.8.1
anyjson==0.3.3
billiard==3.6.3.0

vine==1.3.0
amqp==2.6.0

amqplib==1.0.2

pyparsing==2.4.7

kombu==4.6.11

celery==4.4.6
statsd==3.3.0

gunicorn==20.0.4

pycryptodome==3.9.8
ecdsa==0.15

sqlparse==0.3.1

astroid==2.4.2

html2text==2020.1.16

boto3==1.14.30
raven==6.10.0
SPARQLWrapper==1.8.5
argparse==1.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
certifi==2020.6.20

decorator==4.4.2

colorama==0.4.3

funcsigs==1.0.2
html5lib==1.1
ipython-genutils==0.2.0
isodate==0.6.0
keepalive==0.5

mock==4.0.2

lazy-object-proxy==1.5.1

nose==1.3.7

pbr==5.4.5

path.py==12.5.0

pickleshare==0.7.5
ptyprocess==0.6.0
rcssmin==1.0.6
rjsmin==1.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
traitlets==4.3.3
wrapt==1.12.1

django-appconf==1.0.4

django-bootstrap3==14.1.0

django-compressor==2.4

django-bootstrap-form==3.4

django-waffle==1.0.0

django-debug-toolbar==2.2

django-jenkins==0.110.0
django-smoketest==1.1.2

django-guardian==2.3.0

easy-thumbnails==2.7

django-userena==2.0.1
django-picklefield==3.0.1
django-statsd-mozilla==0.4.0

django-markwhat==1.6.2

django-storages==1.9.1

thraxilsettings==3.2.2

honeycomb-beeline==2.12.1
