{% load bootstrap3 %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>antisocial: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="antisocial">
  <meta name="author" content="CCNMTL">

	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}
  {% compress css %}
  <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css" />
  {% endcompress %}
	{% block css %}{% endblock %}

	{% block feeds %}{% endblock %}
</head>
<body>

{% block topnavbar %}
<div class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand active" href="/">antisocial</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
{% if not request.user.is_anonymous %}
			  <li><a href="/subscriptions/">my subscriptions</a></li>
{% endif %}
{% block topnavbarleftitems %}{% endblock %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {% block topnavbarrightitems %}{% endblock %}
{% block usernav %}
  {% if request.user.is_anonymous %}
    <p class="navbar-text"><a href="/accounts/signin/?next=/" class="btn btn-success">login</a>
			or
			<a href="/accounts/signup/" class="btn btn-success">signup</a></p>
  {% else %}
      <p class="navbar-text">logged in as <a href="/accounts/{{request.user.username}}/">{% if request.user.first_name %}
				{{request.user.first_name}} {{request.user.last_name}}
			{% else %}
				{{ request.user.username }}
			{% endif %}</a>
      <a href="/accounts/signout/" class="btn btn-inverse">logout</a></p>
  {% endif %}
{% endblock %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

  <div class="container">
    <div class="row">
      <div class="col-md-12" id="right-content">
{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-error" style="position: fixed; bottom: 0px;">
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}
</body>
</html>
