{% extends 'base.html' %}

{% block content %}

<h1>Stats</h1>
{% with base="http://graphite.thraxil.org/render" %}
{% with app="antisocial" width=900 height=200 salt="1337976132.743" %}

{% with trafficmetric="summarize(stats.counters.nginx.antisocial.status.200.count,'5mins')" %}
{% with responsemetric="keepLastValue(summarize(stats.timers.nginx.antisocial.request_time.upper_90,'5mins'))" %}
{% with errormetric="summarize(stats.counters.nginx.antisocial.status.404.count,'5mins')&target=summarize(sumSeries(stats.counters.nginx.antisocial.status.5*.count),'5mins')" %}
{% with percenterrormetric="movingAverage(divideSeries(sumSeries(stats.counters.nginx.antisocial.status.5*.count),sumSeries(stats.counters.nginx.antisocial.status.*.count)),'15mins')" %}

<h2>Traffic</h2>
<img width="{{width}}" height="{{height}}" 
src="{{base}}/?width={{width}}&height={{height}}&_salt={{salt}}&target={{trafficmetric}}&graphOnly=false&hideGrid=true&hideLegend=true">

<h2>Response Times (90th percentile)</h2>
<img width="{{width}}" height="{{height}}" 
src="{{base}}/?width={{width}}&height={{height}}&_salt={{salt}}&target={{responsemetric}}&hideGrid=true&hideLegend=true&from=-24hours"/>

<h2>Errors</h2>
<img width="{{width}}" height="{{height}}" 
src="{{base}}/?width={{width}}&height={{height}}&_salt={{salt}}&target={{errormetric}}&graphOnly=false&hideGrid=true">

<h2>% Errors</h2>
<img width="{{width}}" height="{{height}}" 
src="{{base}}/?width={{width}}&height={{height}}&_salt={{salt}}&target={{percenterrormetric}}&graphOnly=false&hideGrid=true">

</div>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
