{% extends 'base.html' %}
{% load markup %}

{% block js %}
{% if not request.user.is_anonymous %}
<script data-main="/site_media/js/main" src="/site_media/js/libs/require/require.js"></script>


<script type="text/template" id="entry-template">
  <div class="entry <%= current ? 'current' : 'not-current' %>" id="ue-<%= id %>">
		<div class="expanded">
			<div class="row">
				<div class="span11 title lead">
					<a href="<%= link %>"><%= title %></a>
					<span class="published pull-right">
						<%= published %>
					</span>
				</div>
			</div>

			<div class="row">
				<div class="span10 feed-title">
					from <a href="/subscription/<%= feed_id %>/"><%= feed_title %></a>
				</div>
			</div>

			<div class="row">
				<div class="span10">
					<%= description %>
				</div>
			</div>
		</div>

		<div class="collapsed">
			<div class="row">
				<div class="span11">
					<%= feed_title %>: <b><%= title %></b>
					<span class="published pull-right">
						<%= published %>
					</span>
				</div>
			</div>
		</div>
  </div>
</script>

{% endif %}
{% endblock %}

{% block content %}
{% if not request.user.is_anonymous %}

<div id="entries-container"></div>

{% else %}
<p>Please login or sign up</p>
{% endif %}
{% endblock %}
