{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load compress %}

{% block css %}
    {% compress css %}
<style type="text/css">
     .not-current {
         color: #666;
         padding: .3em;
     }


     .unread-counter {
         position: fixed;
         bottom: 0px;
         right: 0px;
         background-color: #fff;
         padding: 1em;
         font-size: 1.5em;
         border: #ccc solid 1px;
    }
</style>
{% endcompress %}
{% endblock %}

{% block content %}
    <div id="main"></div>
    {% compress js %}
    <script src="{{STATIC_URL}}dist/app.js"></script>
    {% endcompress %}
{% endblock %}
