{% extends 'base.html' %}

{% block content %}

<h2>Your Feed Subscriptions</h2>

<form action="add/" method="post">
<div class="input-append">
<input type="text" name="url" class="input-xxlarge" placeholder="feed url" />
<input type="submit" value="add" class="btn" />
</div>
</form>

<form action="import/" method="post" enctype="multipart/form-data">
	<p>Import Google Reader export file (zip)</p>
	<div class="input-append">
		<input type="file" name="zip" id="zip" />
		<input type="submit" value="import" class="btn" />
	</div>
</form>

{% if subscriptions %}
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Entries</th>
			<th>GUID</th>
			<th>Last Fetched</th>
			<th>Last Failed</th>
			<th>Next Fetch</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
{% for s in subscriptions %}
  <tr>
		<td><a href="{{s.feed.get_absolute_url}}">{{s.feed.title|truncatechars:50}}</a></td>
		<td>{{s.feed.entry_set.count}}</td>
		<td>{{s.feed.guid|truncatechars:50}}</td>
		<td><nobr>{{s.feed.last_fetched}}</nobr></td>
		<td><nobr>{{s.feed.last_failed}}</nobr></td>
		<td><nobr>{{s.feed.next_fetch}}</nobr></td>
		<td>{{s.feed.backoff}}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}
