{% extends 'base.html' %}
{% load markup %}
{% block content %}

<h2>{{feed.title}}</h2>
<dl class="dl-horizontal">
	<dt>url</dt>
	<dd>{{feed.url}}</dd>
  <dt>guid</dt>
	<dd>{{feed.guid}}</dd>
	<dt>last fetched</dt>
	<dd>{{feed.last_fetched}}</dd>
	<dt>last failed</dt>
	<dd>{{feed.last_failed}}</dd>
	<dt>next fetch</dt>
	<dd>{{feed.next_fetch}}
		{% if request.user.is_superuser %}
		<form action="fetch/" method="post">
			<input type="submit" value="fetch now" class="btn" />
		</form>
		{% endif %}
	</dd>
	<dt>backoff</dt>
	<dd>{{feed.backoff}}</dd>
	<dt>Total Entries</dt>
	<dd>{{subscription.all_entries.count}}</dd>
	<dt>Unread Entries</dt>
	<dd>{{subscription.unread_entries.count}}
{% if subscription.unread_entries.count %}
		<form class="form-inline" action="mark_read/" method="post">
			<input type="submit" value="mark all read" class="btn" />
		</form>
{% endif %}
	</dd>
</dl>

<form action="unsubscribe/" method="post">
	<input type="submit" value="unsubscribe" class="btn btn-danger" />
</form>

{% for entry in feed.entry_set.all %}
<div class="row">
	<div class="span10"><a href="{{entry.link}}">{{entry.title}}</a></div>
</div>
{% if entry.description %}
<div class="row">
	<div class="span2">{{entry.published}}</div>

	<div class="span10">
		{{entry.description|markdown}}
	</div>
</div>
{% endif %}
{% endfor %}


{% endblock %}
