on: push
name: run tests
jobs:
  buildDockerImage:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build docker image
      run: docker build -t thraxil/antisocial:${{ github.sha }} .
